@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

body {
  font-family: "Signika Negative", sans-serif;
}

.my-container {
  @apply lg:w-3/4 mx-auto;
}
.card {
  box-shadow: 8px -8px 0px 5px rgba(246, 198, 234, 1),
    -8px 8px 0px 5px rgba(194, 224, 235, 1);
}
.gallery img {
  width: 100%;
  border: 6px solid #f1c0dd;
  border-radius: 8px;
}
